img{
   width: 110px;
   height: 80px;
   border-radius: 9px;
   mix-blend-mode:darken;
}
.w-10{
   width: 70px;
}
.width{
   max-width: fit-content;
   overflow: scroll;
}
p{

   font-size: 10px;
}
.img-pro{
   width: 28px;
   height: 28px;
   border-radius: 100%;
}
