img, .bg{
   width: 100px;
   height: 120px;
   border-radius: 9px;
}
.pt{
   margin: 40px;
}
.w-10{
   width: 70px;
}

p{
cursor: pointer;
   font-size: 10px;
}

.img-pro{
   width: 28px;
   height: 28px;
   border-radius: 100%;
}
