
img{
    width: 120px;
    height: 120px;
    border-radius: 100%; 
}

p{
    font-size: 14px;
}
.w{
    width: 320px;
}
b{
    font-size: 20px;
}
hr {
    text-align: center;
    border-top:3px dotted #000;
    /*Rest of stuff here*/
}