
    <div class="d-flex justify-content-between mt-4" >
        <div class="input-group">
            <div class="form-outline">
              <input id="search-input" type="search"placeholder="Search"  id="form1" class="form-control p-2" />
            </div>
        </div>
        <div class="border p-2 mx-1 br text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
              </svg>
        </div>
    </div>
    <div class="bg pb-1 ">
        <div class="container pt-3 d-flex bg justify-content-between px-4 mt-3">
            <b>Who to follow</b>
            <a href="" class="text-primary">See More</a>
        </div>
        <div class="container px-3 mt-3 mb-4 pt-3" *ngFor="let friend of friends">
            <div class="d-flex w-100">
                <div class="con d-flex">
                    <img src="https://i.postimg.cc/bwKQ3znM/download01.jpg" alt="">
                    <div class="con">
                        <p class="mx-2 mt-1 mb-0">Thulane Mfeketho</p>
                        <p class="mb-0 mx-2 p text-secondary">&#64;mfekethothulane</p>
                    </div>
                </div>
                <button type="button" class="mx bg-dark text-white border mt-2" *ngIf="!friend.following">Follow</button>
                <button type="button" class="mx  border bg-white mt-2" *ngIf="friend.following" >Following</button>
        
            </div>
        </div>
    </div>
    
    <div class="bg mt-3">
        <div class="container pt-3 d-flex bg justify-content-between px-4 mt-3">
            <b>Contacts</b>
            <a href="" class="text-primary">See More</a>
        </div>
    
    </div>
      

