<div >
    <div class="w-100 ">
        <div class="position d-flex justify-content-end p-3  px-3 text-white">
            <div class="bg-dark bor p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>
        <img src="https://i.postimg.cc/V6LWMwnG/download-10.jpg" class="w-100 h-30" alt="">
    </div>
    <div class="container w-100 mt-3 d-flex justify-content-between">
        <div class="border br p-2 d-flex text-secondary">
            <svg [style.color]="selectedIconColor" class="mt-1 " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 2048 2048" (click)="toggleIconColor()">
                <path fill="currentColor" d="M1889 287q53 53 88 116t53 131t18 138t-17 138t-53 131t-89 116l-865 864l-865-864q-53-53-88-116T18 811T0 673t17-139t53-131t89-116q78-77 177-118t208-41q109 0 208 41t177 118l95 96l95-96q78-77 177-118t208-41q109 0 208 41t177 118"/>
            </svg>
            <b><p class="mb-0 p px-2">22.3k</p></b>
        </div>
        <div class="cont d-flex">
            <div class="border br mx-2 p-2  d-flex text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
            </div>
            <div class="border br p-2 mx-2
              d-flex text-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
              </svg>
            </div>
            <div class="border br p-2 mx-2
              d-flex text-secondary bg-dark text-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2zM4 8h12v8h-5.277L7 18.234V16H4z" />
                <path fill="currentColor"
                    d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2" />
            </svg>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between mt-4">
        <div class="d-flex">
            <img src="https://i.postimg.cc/bwKQ3znM/download01.jpg" class="profile-post" alt="">
            <div class="mx-2 mt-1">
                <div class="d-flex">
                    <b style="font-size: 15px;">Thulane Mfeketho</b>
                </div>
                <p class="text-secondary location" style="font-size: 15px;">&#64;mfeketho_thulane</p>
            </div>
        </div>
        <div class="con">
            <div class="border mt-1 p-2 br px-3">
                <p class="mb-0" style="font-size: 15px;">Following</p>
            </div>
        </div>
    </div>
    <hr class="mt-0 mb-0">    
</div>
<div class="container pb-0">
    <div class="h-20 mx mt-2">
        <div class="container mb-4 d-flex ">
            <img src="https://i.postimg.cc/Dyy0HBcV/images.jpg" alt="" class="profile-commit">
            <div class="mx-1 w-100 bg-light br">
                <b class="px-2 pt-2" style="font-size: 14px;">Thulane Mfeketho</b>
                <p class="px-2" style="font-size: 14px;">
         Certainly! How can I assist you with your statement? Are you looking for help crafting a statement or do you need assistance with something else related to statements? Please provide more details so I can better understand how to assist you.</p>
            </div>
        </div>
        <div class="container mb-4 d-flex ">
            <img src="https://i.postimg.cc/Dyy0HBcV/images.jpg" alt="" class="profile-commit">
            <div class="mx-1 w-100 bg-light br">
                <b class="px-2 pt-2" style="font-size: 14px;">Thulane Mfeketho</b>
                <p class="px-2" style="font-size: 14px;">
         Certainly! How can I assist you with your statement? Are you looking for help crafting a statement or do you need assistance with something else related to statements? Please provide more details so I can better understand how to assist you.</p>
            </div>
        </div>
        <div class="container mb-4 d-flex ">
            <img src="https://i.postimg.cc/Dyy0HBcV/images.jpg" alt="" class="profile-commit">
            <div class="mx-1 w-100 bg-light br">
                <b class="px-2 pt-2" style="font-size: 14px;">Thulane Mfeketho</b>
                <p class="px-2" style="font-size: 14px;">
         Certainly! How can I assist you with your statement? Are you looking for help crafting a statement or do you need assistance with something else related to statements? Please provide more details so I can better understand how to assist you.</p>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom  bg-white ">
    <hr class=" mt-0 mb-1">
    <div class="container p-3 d-flex">
        <img src="https://i.postimg.cc/bwKQ3znM/download01.jpg" class="profile-commit" alt="">
        <input type="text" name="" class="form-control w-20 p-1 mx-2"  placeholder="Add to commit" id="">
    </div>
</div>
  