<div class="container ">
    <div class="d-flex justify-content-between ">
        <div class="d-flex">
            <div class="px-1">
                <img src="https://i.postimg.cc/LXthKW7S/images-1.jpg" class="img" alt="">
            </div>
            <div class="text px-2">
                <b>Thulane Mfeketho</b>
                <p class="text-secondary">Cape Town • <span> 3 h ago</span></p>
            </div>
        </div>
        <p class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi mt-2 bi-three-dots" viewBox="0 0 16 16">
                <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </p>
    </div>
</div>
<div class="container mb-5">
    <div class="image-container">
        <img src="https://i.postimg.cc/nhFcQRsd/download12.jpg" alt="">
        <div class="mt-2 d-flex justify-content-between w-60">
            <div class="d-flex text-secondary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 50 50">
                    <path fill="currentColor"
                        d="M40 23.2c0-2.1-1.7-3.2-4-3.2h-6.7c.5-1.8.7-3.5.7-5c0-5.8-1.6-7-3-7c-.9 0-1.6.1-2.5.6c-.3.2-.4.4-.5.7l-1 5.4c-1.1 2.8-3.8 5.3-6 7V36c.8 0 1.6.4 2.6.9c1.1.5 2.2 1.1 3.4 1.1h9.5c2 0 3.5-1.6 3.5-3c0-.3 0-.5-.1-.7c1.2-.5 2.1-1.5 2.1-2.8c0-.6-.1-1.1-.3-1.6c.8-.5 1.5-1.4 1.5-2.4c0-.6-.3-1.2-.6-1.7c.8-.6 1.4-1.6 1.4-2.6m-2.1 0c0 1.3-1.3 1.4-1.5 2c-.2.7.8.9.8 2.1c0 1.2-1.5 1.2-1.7 1.9c-.2.8.5 1 .5 2.2v.2c-.2 1-1.7 1.1-2 1.5c-.3.5 0 .7 0 1.8c0 .6-.7 1-1.5 1H23c-.8 0-1.6-.4-2.6-.9c-.8-.4-1.6-.8-2.4-1V23.5c2.5-1.9 5.7-4.7 6.9-8.2v-.2l.9-5c.4-.1.7-.1 1.2-.1c.2 0 1 1.2 1 5c0 1.5-.3 3.1-.8 5H27c-.6 0-1 .4-1 1s.4 1 1 1h9c1 0 1.9.5 1.9 1.2" />
                    <path fill="currentColor"
                        d="M16 38h-6c-1.1 0-2-.9-2-2V22c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2m-6-16v14h6V22z" />
                </svg>
                <p class="text-secondary one px-1">12K</p>
            </div>
            <div class="d-flex text-secondary  ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" class="one" height="20px" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12 12.75v-.5m4 .5v-.5m-8 .5v-.5M12 21a9 9 0 1 0-9-9c0 1.44.338 2.8.94 4.007c.453.911-.177 2.14-.417 3.037a1.17 1.17 0 0 0 1.433 1.433c.897-.24 2.126-.87 3.037-.416A8.964 8.964 0 0 0 12 21" />
                </svg>
                <p class="text-secondary one px-1">102K</p>
            </div>
            <div class="d-flex text-secondary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi one bi-box-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z" />
                    <path fill-rule="evenodd"
                        d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z" />
                </svg>
                <p class="text-secondary one px-1">102K</p>
            </div>
            <div class="d-flex text-secondary px-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi one bi-bookmark" viewBox="0 0 16 16">
                    <path
                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                </svg>
            </div>
        </div>

        <div class="ellipsis-container" (click)="toggleFullText()">
            <span *ngIf="!showFullText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              <span *ngIf="!showFullText" class="ellipsis">...</span> <!-- Show ellipsis if full text is not shown -->
            </span>
            <p class="text-primary" *ngIf="!showFullText">See More</p>
            <span *ngIf="showFullText" class="text" >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
            <p class="text-primary" *ngIf="showFullText">See less</p>
          </div>
    </div>
</div>

<div class="container ">
    <div class="d-flex justify-content-between ">
        <div class="d-flex">
            <div class="px-1">
                <img src="https://i.postimg.cc/LXthKW7S/images-1.jpg" class="img" alt="">
            </div>
            <div class="text px-2">
                <b>Thulane Mfeketho</b>
                <p class="text-secondary">Cape Town • <span> 3 h ago</span></p>
            </div>
        </div>
        <p class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi mt-2 bi-three-dots" viewBox="0 0 16 16">
                <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </p>
    </div>
</div>
<div class="container mb-5">
    <div class="image-container">
        <img src="https://i.postimg.cc/LXthKW7S/images-1.jpg" alt="">
    </div>
</div>

