<div class="row">
    <div class="col-sm-6 offset-sm-3 content ">
        <!-- Content for Middle Column -->
        <div class="border">
            <app-topbar></app-topbar>
            <div class="container">
                <div class="row">
                    <div class="col-6 d-flex justify-content-center bg-light p-2">
                        <b>Home</b>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <b>For you</b>
                    </div>
                    <hr>
                </div>
            </div>
            <app-add-post></app-add-post>
            <hr>
            <app-all-post></app-all-post>
        </div>
      </div>
      
      <!-- Right Column -->
      <div class="col-sm-3 fixed-column" style="right: 0;">
        <!-- Content for Right Column -->
        <app-sidebar></app-sidebar>
      </div>
</div>
